html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    color: #2F3035;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'SFProDisplay-Regular' sans-serif;
}

header {
    width: 100%;
    z-index: 10;
    background-color: rgb(20, 20, 20);
    margin-bottom: 20px;
}

.header {
    padding-bottom: 20px;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 122px;
}

.header__top {
    font-weight: 700;
    color: white;
}

.header__top::after {
    content: '';
    display: block;
    height: 1px;
    width: 95%;
    margin: 0 auto;
    background: #b3b3bd;
}

.menu__item {
    display: inline-block;
    color: white;
}

.header__box {
    display: flex;
}

.header__adress {
    margin-right: 10px;
    width: 265px;
    padding-left: 30px;
    position: relative;
}


/* .header__adress::before {
    content: "";
    position: absolute;
    background-image: url('../images/maps2.svg');
    width: 30px;
    height: 30px;
    left: 0;
    top: -5px;
} */

.user-list {
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.user-list__item {
    padding-right: 10px;
}

.basket {
    position: relative;
}

.basket__num {
    position: absolute;
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    font-family: 'SFProDisplay-Medium' sans-serif;
    color: #fff;
    background-color: blue;
    border-radius: 50%;
    text-align: center;
    top: 0px;
    right: -10px;
}

.img-svg {
    fill: white;
}

.menu__main {
    display: flex;
    justify-content: space-around;
    max-width: 700px;
    margin: 0 auto;
    align-items: center;
    padding-top: 15px;
    color: white;
}

.menu__main-item {
    position: relative;
    padding-bottom: 5px;
}

.menu__main-item-link {
    transition: all .3s;
    font-weight: 400;
    padding: 15px 0 0px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.menu__main-item-link::before {
    content: "";
    position: absolute;
    width: 0px;
    left: auto;
    background-color: #f2ba59;
    height: 3px;
    bottom: -2px;
    transition: all .3s;
    right: 0;
}

.menu__main-item-link:hover {
    font-family: 'SFProDisplay-Semibold' sans-serif;
    color: #e7c091;
}

.menu__main-item-link:hover::before {
    width: 100%;
    right: auto;
    left: 0;
}


/* основаная часть - разметка на гридах */

.wrapper {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 20px;
}

.wrapper>div {
    padding: 1em 1em 1em 0;
}

.product__image-box>img {
    width: 100%;
    height: auto;
}

.product__card {
    margin-top: 40px;
}


/* Картинка */

.product__image-box {
    display: inline-block;
    overflow: hidden;
}

.product__image-box img {
    transition: 1s;
    display: block;
}

.product__image-box img:hover {
    transform: scale(1.05);
}


/* Описание товара */

.rating-mini {
    display: block;
    font-size: 0;
    top: 0;
    padding-bottom: 0;
    margin-top: 20px;
}

.rating-mini span {
    padding: 0;
    font-size: 20px;
    line-height: 1;
    color: lightgrey;
}

.rating-mini>span:before {
    content: '★';
}

.rating-mini>span.active {
    color: gold;
}

.costs {
    display: flex;
}

.cost {
    font-size: 40px;
    margin-top: 10px;
}

.cost::before {
    content: ' \20B8';
}

.old {
    color: rgb(110, 107, 107);
    margin-right: 10px;
    font-size: 30px;
    text-decoration: line-through;
    text-decoration-color: red;
}

.product__descript {
    margin-top: 20px;
}

.product__action {
    margin-top: 30px;
}

.product__action-total>input {
    width: 40px;
    height: 38px;
    text-align: center;
}

.total {
    font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.product__action-total>button {
    background: #ededed;
    height: 38px;
    border: 1px solid #ededed;
    width: 40px;
    text-align: center;
    color: #000000;
    cursor: pointer;
    vertical-align: top;
    font-size: 20px;
    font-weight: bold;
}

.product__action {
    display: flex;
}

.product__tobasket-btn {
    text-decoration: none;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    color: white;
    font-size: 14px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    margin-left: 20px;
    background: #f2ba59;
    transition: all .5s;
}

.product__tobasket-btn:hover {
    background: #383d48;
}

.product__action-two {
    display: flex;
    font-size: 15px;
    margin-top: 15px;
}

.product__action-two-like {
    margin-right: 15px;
}

.fa-heart {
    margin-right: 3px;
}

.fa-chart-area {
    margin-right: 3px;
}

.product__action-two-like:hover,
.product__action-two-compare:hover {
    color: #f2ba59;
}

.product__info-dop {
    font-size: 15px;
    margin-top: 40px;
}

.product__info-dop>p>a:hover {
    color: #f2ba59;
}

.product__image-box>img {
    left: 0;
}


/* tabs */

.tabs {
    margin-left: auto;
    margin-right: auto;
}

.tabs__nav {
    list-style-type: none;
    margin: 0;
    border: none;
}

.tabs__link {
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    color: black;
    text-align: center;
    flex-shrink: 0;
    flex-grow: 1;
}

.tabs__link_active {
    background: #f2ba59;
    cursor: default;
}

.tabs__link:not(.tabs__link_active):hover,
.tabs__link:not(.tabs__link_active):focus {
    background-color: #efefef;
}

.tabs__content {
    padding: 1rem;
}

.tabs__pane {
    display: none;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 70px;
}

.tabs__pane_show {
    display: block;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 70px;
}

.tabs__pane-header {
    margin-bottom: 15px;
}


/* Таблица в табах(секция 2) */

table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    width: 30%;
    text-align: left;
}

table td {
    padding: 12px 16px;
}

table tr {
    border-bottom: 1px solid #e8e9eb;
}

table tbody tr:hover {
    background: #e8f6ff;
}


/* третий таб - отзывы */

.tabs__reviews-flex {
    display: flex;
    margin-bottom: 20px;
}

.tabs_reviews-text {
    border: 1px solid rgba(155, 146, 146, 0.2);
    padding: 10px;
}

.tabs_reviews-avatar {
    margin-right: 20px;
}

.rating-reviews {
    margin-top: 0;
}

.tabs_reviews-text-main {
    margin-top: 1px;
}


/* форма */

.label-rewiews {
    margin-bottom: 100px;
    font-weight: 700;
}

.inputs-reviews {
    width: 100%;
    margin: 20px 0 20px;
    padding: 5px;
    background-color: rgb(243, 235, 235);
    border: 1px solid rgba(155, 146, 146, 0.5);
}

.rating-area {
    overflow: hidden;
    float: left;
}

.rating-area:not(:checked)>input {
    display: none;
}

.rating-area:not(:checked)>label {
    float: right;
    width: 42px;
    padding: 0;
    cursor: pointer;
    font-size: 32px;
    line-height: 32px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.rating-area:not(:checked)>label:before {
    content: '★';
}

.rating-area>input:checked~label {
    color: gold;
    text-shadow: 1px 1px #c60;
}

.rating-area:not(:checked)>label:hover,
.rating-area:not(:checked)>label:hover~label {
    color: gold;
}

.rating-area>input:checked+label:hover,
.rating-area>input:checked+label:hover~label,
.rating-area>input:checked~label:hover,
.rating-area>input:checked~label:hover~label,
.rating-area>label:hover~input:checked~label {
    color: gold;
    text-shadow: 1px 1px goldenrod;
}

.rate-area>label:active {
    position: relative;
}

.rewiews-btn {
    margin-left: 0;
}


/* Новые товары */


/* footer */

.footer {
    background-color: #171718;
    color: white;
}

.footer__bottom {
    padding: 46px 0 22px;
    display: flex;
    justify-content: center;
}

.footer__bottom-link {
    line-height: 12px;
    color: #48494D;
    font-size: 15px;
    margin: 0 40px;
}

.footer__top {
    padding-top: 43px;
}

.footer__top-inner {
    display: flex;
    justify-content: space-between;
}

.footer__top-newslatter .footer__top-item {
    width: 295px;
}

.footer__top-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}

.footer-form {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
}

.footer-form-main {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
}

.footer-form__input {
    background-color: #fff;
    border: none;
    line-height: 17px;
    font-size: 14px;
    padding: 0 12px;
}

::placeholder {
    color: #c4c4c4;
}

.footer-form__btn {
    text-transform: uppercase;
    padding: 10px 16px;
    border: none;
    background-color: #1C62CD;
    color: white;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.12em;
    font-family: 'SFProDisplay-Semibold' sans-serif;
}

.footer-form__btn-main {
    text-transform: uppercase;
    padding: 10px 16px;
    border: none;
    background-color: #000000;
    color: white;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.12em;
    font-family: 'SFProDisplay-Semibold' sans-serif;
}

.footer-list {
    font-size: 14px;
    line-height: 22px;
}


/* .footer__top-item {
    width: 20px;
} */

.footer__top-social .footer__top-item {
    width: 250px;
}

.social-list {
    display: flex;
    align-items: center;
    height: 100%;
}

.social-list__item+.social-list__item {
    margin-left: 30px;
}